
{% load  static %}
<!DOCTYPE html>
<html lang="en">
    <title>Application lydec</title>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/3/37/Logo_Lydec_2010.png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{%  static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/simple-datatables/style.css'%}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{%  static 'css/style.css'%}" rel="stylesheet">
</head>
<body>

  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'app1:Profile' %}" class="logo d-flex align-items-center">
        <img src="{%  static 'img/ima.png'%}" alt="" >
        
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="{%  static 'img/pr.png'%}" alt="Profile" class="rounded-circle">
              <span class="d-none d-md-block dropdown-toggle ps-2">{{user.username}}</span>
            </a>
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>{{user.username}}</h6>
                <span>Web Designer</span>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'app1:Profile'  %}">
                  <i class="bi bi-person"></i>
                  <span>Mon Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  


  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'app1:logoutuser'  %}">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Se déconnecter</span>
                </a>
              </li>
  
            </ul>
          </li>
  
        </ul>
      </nav>
  </header>



  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-speedometer2"></i><span>Tableau De Bord</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'app1:Dash' %}">
              <i class="bi bi-circle"></i><span>Tableau de Bord</span>
            </a>
          </li>
          <li>
            <a href="{% url 'app1:Dash1' %}">
              <i class="bi bi-circle"></i><span>Affaires Lotissements</span>
            </a>
          </li>
          <li>
            <a href="{% url 'app1:Dash2' %}">
              <i class="bi bi-circle"></i><span>Affaires D'Investissement</span>
            </a>
          </li>
        </ul>
      </li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-buildings"></i><span>Lotissement</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'app1:inup' %}">
              <i class="bi bi-circle"></i><span>Ajouter des affaires de Lotissement </span>
            </a>
          </li>
          <li>
            <a href="{% url 'app1:list' %}">
              <i class="bi bi-circle"></i><span>Liste des affaires de Lotissement</span>
            </a>
          </li>
          
        </ul>
      </li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-hammer"></i><span>Investissement</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'app1:inup_Inv' %}">
              <i class="bi bi-circle"></i><span>Ajouter des affaires d'Investissement </span>
            </a>
          </li>
          <li>
            <a href="{% url 'app1:list_Inv' %}">
              <i class="bi bi-circle"></i><span>Liste des affaires d'Investissement</span>
            </a>
          </li>
  
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-globe-europe-africa"></i><span>Geoportail</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Add shapefiles</span>
            </a>
          </li>
      
        </ul>
      </li>
      
  </aside>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Information d'affaires</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'app1:inup' %}">Lotissement</a></li>
          <li class="breadcrumb-item"><a href="{% url 'app1:list' %}">Liste des affaires</a></li>
          
        </ol>
      </nav>
    </div><!-- End Page Title -->

           
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
          {% if errMsg %}
          <b><i>{{ errMsg }}</i></b>
          {% endif %}
          <div class="card-body pt-3">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == 25 %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle me-1"></i>
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% else %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
        {% endfor %}
        {% endif %}
            <div class="card-body">
                          
              {% load crispy_forms_tags %}
              <div  class="container">
                <div class="col-xl offset-xl mt-5">
                    <div class="jumbotron">
                        <h1 class="display-4">Lotissement</h1>
                        <p class="lead font-italic">Tableau des projets de lotissement</p>

                        
                        <div class="table-responsive">
                        
                        <table class="table table-borderless text-center">
                            <thead class="border-bottom font-weight-bold">
                          {% if list1 %}
                              <tr>
                                    <td>Intitulé du projet</td>
                                    <td>tf</td>
                
                                </tr>
                            </thead>
                            <tbody>
                              
                                {% for p in list1 %}
                                    {% if p.id == fk_id %}
                                        <tr>
                                            <td>{{ p.id }}</td>
                                            <td>{{ p.Tf }}</td>
                                  
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        <hr class="my-4">
                        {% if list2 %}
                        <table class="table table-borderless">
                            <thead class="border-bottom font-weight-bold">
                                <tr>
                                  <td></td>
                                  <td>Metier</td>
                                  <td>date fin de travaux</td>
                                  <td>Date de réception du plan</td>
                                  <td>Nom de référent</td>
                                  <td>Date de MAJ</td>
                                  <td>Etat de transmission </td>
                                  <td>Etat de mise  à jour</td>
                                  <td>delai</td>
                                  <td>Linéaire</td>
                                  <td>Analyse qualité </td>
                                  <td>Comentaire de l'anomalie</td>
                                  <td>Date de réponse de chef de projet</td>
                                  <td>Date de contrôle et retour</td>
                                  <td>Comentaire de l'anomalie</td>
                                  <td>Remarque</td>
                                  <td>lien</td>
                                  
                      
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in list2 %}
                                {% if i.fk_id == id %}                              
                                <td><a href="{% url 'app1:updateM' ID=i.ID %}" class="btn text-secondary px-0">
                                  <i class="bi bi-pencil-square" title="Modifier" style="color:#84B818"></i>
                              </a>  
                              <a href="{% url 'app1:delete_metLot' ID=i.ID %}" class="btn text-secondary px-0">
                                <i class="bi bi-trash" style="color: red;" title="Supprimer"></i>
                            </a> 
                            </td>
                                <td>{{i.Metier}}</td>
                                <td>{{i.datefindetravaux}}</td>
                                <td>{{i.Datereceptionplan}}</td>
                                <td>{{i.Nomreferent}}</td>
                                <td>{{i.Datedemaj}}</td> 
                                <td>{{i.Etatdetransmission}}</td>
                                <td>{{i.EtatMaj}}</td>
                                <td>{{i.delai}}</td>
                                <td>{{i.linear}}</td> 
                                <td>{{i.anlys}}</td>
                                <td>{{i.Comntanlys}}</td>
                                <td>{{i.dateenv}}</td>
                                <td>{{i.datereponsechef}}</td>
                                <td>{{i.datecontrletretour}}</td> 
                                <td>{{i.remarque}}</td>
                                <td>{{i.lien}}</td>
                                                              </tr>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
          </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%  static 'vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{%  static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%  static 'vendor/chart.js/chart.umd.js'%}"></script>
  <script src="{%  static 'vendor/echarts/echarts.min.js'%}"></script>
  <script src="{%  static 'vendor/quill/quill.min.js'%}"></script>
  <script src="{%  static 'vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{%  static 'vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{%  static 'vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%  static 'js/main.js'%}"></script>

</body>

</html>